.panel > .list-group .todo-list{
	border-left: 2px solid #8c8c8c;
}
.panel > .list-group .high-priority{
	border-left-color: #dc4e4e;
}
.panel > .list-group .medium-priority{
	border-left-color: #36a9e2;
}
.btn-group + .checkbox-inline,
.pull-right+.overflow {
	display: block;
	overflow: hidden;
	padding-right: 15px;
}